.background {
    height: 280px;
    width: 466px;
    background-image: url('images/tb1.png');
}

.backgroundTwo {
    height: 244px;
    width: 546px;
    background-image: url('images/tb2.png');
}